<div class="col-md-4">
  <div class="card">
     
    <img
      class="card-img-top"
      src={{image}}
      alt={{title}}
    />
    <div class="card-body">
        <h5>  {{title}}</h5>
        
    <a href="/movies/{{id}}" class="info link">see more </a>

   
      
    </div>
  </div>
</div>