<div class="col-md-12">
  <div class="card" id="Homepage">
     
    <h2>{{title}} </h2>
    <div class="card-body">
        
    <a href="/movies" class="btn btn-primary">Check the Movies!</a>

   
      
    </div>
  </div>
</div>